@import "variables";

body {
	display : table;
    width: 100%;
    background-color: $whiteBrake;
    height: 100vh;
	margin: 0; 
    padding: 0;
}
nav{
    background-color: $whitePur;
    height: $navbarHeight;
}
main{
    max-width: 300px;
    margin: auto;
    width: 80%;
    position: relative;
}
footer {
    background-color: $whitePur;
    display : table-row;
    height: $footerHeight; 
}

.none{
    visibility: hidden !important;
}

h1{
  font-size: 1.50rem;      
}
h3{
    font-size: 1.25rem;   
}
// Polices de caractères
.anton {
    font-family: "Anton";
}
.opensans{
    font-family: 'Open Sans', sans-serif;
}

// Ancre pour remonter en haut de page
#anchor{
    position: fixed;
    bottom: 40px;
    right: 15px;
    font-size: 1.5rem;
}
#anchor:hover{
    color: $hovercolor;
}

// MediaQueries pour la largeur des menus et la taille de l'ancre
@media (min-width: 376px) { 
    h1{
        font-size: 1.80rem;      
    }

    h3{
        font-size: 1.75rem;   
    }

}

@media (min-width: 576px) { 
    #anchor{
        font-size: 2rem;
    }
    main{
        max-width: 570px;
    }
}

@media (min-width: 768px) { 
    #anchor{
        position: fixed;
        bottom: 50px;
        right: 30px;
        font-size: 1.5rem;
    }
    main{
        max-width: 740px;
    }
 }

@media (min-width: 992px) { 
    #anchor{
        position: fixed;
        bottom: 50px;
        right: 60px;
        font-size: 4rem;
    }
    main{
        max-width: 980px;
    }
 }

@media (min-width: 1200px) { 
    #anchor{
        position: fixed;
        bottom: 50px;
        right: 75px;
        font-size: 3rem;
    }
}



