@import "variables";

/*-- Slide Line --*/
#cross{
    position: relative;
    bottom: 70px;
    left: 60px;
    color: #e8e8e8 !important;
}
.slick-dots{ 
    display: none !important; 
} 

.slick-center .nav-title,.slick-center .nav-dot{
    color: #dc3545 !important; 
}
.slick-next:before{
    color: #777777;
}
.slick-prev:before{
    color: #989898;
}
a{
    color: #989898;
}
.course{
    margin-left: 25px;
    margin-right: 25px;
}
.line-time{
    position: relative;
    bottom: 82px;
    z-index: -1;
}

/*-- Slide Nav --*/

.nav-title{
    margin-bottom: 20px;
    font-family: "Anton" !important ;
    color: #989898;
    font-size: 1.25em;
}
.nav-dot{
    color: #e8e8e8;
}
.nav-date{
    position: relative;
    top: 10px;
    font-size: 2em;
    font-family: "Anton" !important ;
    color: #e8e8e8;
} 

.history{
    .history-image{
        padding-bottom: 1em;
        text-align: center;
        display: inline-block;
        color: #dddddd;
        .history-icon{
            font-size: 5em;
        }
    }
    .history-info{
        text-align: center;
        display: inline-block; 
        .history-info-title{
            font-size: 1.75em;
            color: #2c2c2c;
            font-family: "Anton" !important ;
        }      
        .history-info-date{
            color: #dc3545;
        }
        
        .history-info-text{
            padding-left: 5px;
            padding-right: 5px;
            font-family: 'Open Sans', sans-serif;
        }
    }
}
@media (min-width: 321px) { 
    .nav-title{
        font-size: 1.75em;
    }
}

@media (min-width: 768px) { 
    .history{
        .history-image{
            text-align: right;
            vertical-align: bottom;
            text-align: end !important;
        }
        .history-info{
            text-align: left;
        }
    }
}

@media (min-width: 992px) { 
    .history{
        .history-image{
            text-align: center;
            display: inline-block;
            .history-icon{
                font-size: 10em;
            }
        }
    } 
    .course{
        margin-top: 80px !important;
    }
}
@media (min-width: 1200px) { 

}



/*-- Modal Carousel --*/
.carousel-control-prev-icon , .carousel-control-next-icon  {  
    width: 30px;
    height: 48px;
}
.carousel-control-next:hover{
    color: black !important;
}
.carousel-control-prev:hover{
    color: black !important;
}
.carousel-control-next{
    color: grey !important;
}
.carousel-control-prev{
    color: grey !important;
}
.modal-content {
    width: 100%;
    border:none;
    justify-content: center;
}

.modal-body {
    padding: 0;
}

.modal-dialog{
    width: 100%;
    max-width: none;
    padding-right: 15px;
}

.img-size{
    max-height: 250px;
    max-width: 100%;
    background-size: cover;
    overflow: none;
}
.none{
    visibility: hidden !important;
}

@media(min-width: 576px){
    .img-size{
        max-height: 300px;
        max-width: 450px;
    }
    .modal-content {
        width: 450px;
    }
    .modal-dialog{
        width: 450px;
        max-width: none;
    }
}

@media(min-width: 768px){
    .img-size{
        max-height: 450px;
        max-width: 620px;
    }
    .modal-content {
        width: 620px;
    }
    .modal-dialog{
        width: 620px;
        max-width: none;
    }
}
@media (min-width: 992px) { 
    .img-size{
        max-height: 600px;
        max-width: 800px;
    }
    .modal-content {
        width: 800px;
    }
    .modal-dialog{
        width: 800px;
        max-width: none;
    }
}
@media (min-width: 1200px) { 
    .img-size{
        max-height: 800px;
        max-width: 1000px;
    }
    .modal-content {
        width: 1000px;
    }
    .modal-dialog{
        width: 1000px;
        max-width: none;
    }
}


