/*-- Slide Line --*/
.slick-dots {
  display: none !important;
}

.slick-center .nav-title, .slick-center .nav-dot {
  color: #dc3545 !important;
}

.slick-next:before {
  color: #777777;
}

.slick-prev:before {
  color: #989898;
}

a {
  color: #989898;
}

.course {
  margin-left: 25px;
  margin-right: 25px;
}

.line-time {
  position: relative;
  bottom: 60px;
  z-index: -1;
}

/*-- Slide Nav --*/
.nav-title {
  margin-bottom: 20px;
  font-family: "Anton" !important;
  color: #989898;
  font-size: 1.25em;
}

.nav-dot {
  color: #e8e8e8;
}

.nav-date {
  position: relative;
  top: 10px;
  font-size: 2em;
  font-family: "Anton" !important;
  color: #e8e8e8;
}

.history .history-image {
  padding-bottom: 1em;
  text-align: center;
  display: inline-block;
  color: #dddddd;
}

.history .history-image .history-icon {
  font-size: 5em;
}

.history .history-info {
  text-align: center;
  display: inline-block;
}

.history .history-info .history-info-title {
  font-size: 1.75em;
  color: #2c2c2c;
  font-family: "Anton" !important;
}

.history .history-info .history-info-date {
  color: #dc3545;
}

.history .history-info .history-info-text {
  padding-left: 5px;
  padding-right: 5px;
  font-family: 'Open Sans', sans-serif;
}

@media (min-width: 321px) {
  .nav-title {
    font-size: 1.75em;
  }
}

@media (min-width: 768px) {
  .history .history-image {
    text-align: right;
    vertical-align: bottom;
    text-align: end !important;
  }
  .history .history-info {
    text-align: left;
  }
}

@media (min-width: 992px) {
  .history .history-image {
    text-align: center;
    display: inline-block;
  }
  .history .history-image .history-icon {
    font-size: 10em;
  }
  .course {
    margin-top: 80px !important;
  }
}
